{
    "extends": [
        "stylelint-config-standard"
    ],
    "rules": {
        "function-url-quotes": "always",
        "indentation": null,
        "string-quotes": "single",
        "at-rule-empty-line-before": null,
        "block-closing-brace-newline-after": null,
        "declaration-block-no-duplicate-properties": [
            true,
            {
                "ignoreProperties": [
                    "background"
                ]
            }
        ]
    }
}