.score-wrapper {
    margin: 15px auto 0;
    max-width: 400px;
    width: 100%;

    .score-pane {
        border-bottom: 2px solid transparent;
        color: rgba(0, 0, 0, 0.54);
        margin: 0 8px 0 0;
        font-size: 24px;
        line-height: 16px;
        padding: 2px 4px 0;
        text-align: right;
        transition: all 0.25s;
        -webkit-transition: all 0.25s;
        width: 100%;
        background: #fff;
        -webkit-user-select: none;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        border-radius: 2px;
        box-sizing: border-box;
        cursor: default;
        font-weight: 500;
        max-width: 175px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);

        &.p0 {
            float: none;
        }

        &.p1 {
            float: right;
        }

        &.active {
            border-bottom-color: #14bdac;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
            -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
        }

        .score-pane-inner {
            background-color: transparent;
            border-radius: 2px;
            outline: none;
            padding: 10px 8px;
        }

        .score-pane-inner svg {
            float: left;
            height: 16px;
            margin: 0 12px 0 4px;
            width: 16px;
        }

        path {
            fill: none;
            stroke: black;
            stroke-width: 16px;
            transition: stroke-dashoffset 0.225s cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transition: stroke-dashoffset 0.225s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
