.status {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin: 14px 0 0;
    text-align: center;

    svg {
        height: 1em;
        margin: 1px;
        vertical-align: bottom;
        width: 1em;

        path {
            fill: none;
            stroke: black;
            stroke-width: 16px;
            transition: stroke-dashoffset 0.225s cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transition: stroke-dashoffset 0.225s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
